
.card {
    border: 2px solid #979797;
    box-shadow: 0 3px 5px  #181717d3;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}